@{
    ViewData["Title"] = "Home Page";
}
     
    <div class="bg-warning">
        <div>
            <h1 class="display-4 text-center">Welcome To YRentACar</h1>
        </div>
        <div class="col-lg-12">
            <img src="~/images/sports.webp" class="h-50 w-100 " />
            
            
        </div>
        
            <h2 class="text-center text-white top-right">Discover Your Journey</h2>
       
    </div>
    