@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <h3 class="col-lg-8" style="font-size:2vw; font-family:Calibri">Looking for a vehicle? <br />You've come to the right place.</h3>
        
    </div>
    <div class="row bg-info hero">

        <div class="col-lg-12 ">
            <img src="~/images/homepageimg.jpg" class=" w-100 h-75 img-fluid img-thumbnail mt-4 " />

            <h2 class="  mt-4 text-dark top-right " style="font-size:3vw;">No Worries, Just Smiles</h2>
            <h3 style="font-size:3vw">Flexible Bookings with no cancellation fees</h3>
        </div>
    </div>
@*<div class="row mt-4">
    <div class="col-lg-4 bg-danger h-100 ">
        <p>dff</p>
    </div>
    <div class="col-lg-7 bg-info h-100  ml-auto">
        <p>dfdf</p>
    </div>

</div>*@